:root {
  --main-header-color: white;
  --primary-color: #19c9fa;
  --secondary-color: #857777;

  --big-padding: 50px;
  --medium-padding: 20px;
  --small-padding: 10px;

  --small-margin: 10px;
  --medium-margin: 20px;
  --big-margin: 50px;
  --icon-margin: 50px;

  --font-size: 15px;
  --medium-font-size: 25px;
  --icon-font-size: 40px;
  --opacity-color: rgba(0, 0, 0, 0.54);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  font-family: sans-serif;
  font-size: var(--font-size);
}

.container {
  padding-left: var(--medium-padding);
  padding-right: var(--medium-padding);

  margin-left: auto;
  margin-right: auto;
}

section {
  padding-top: var(--big-padding);
  padding-bottom: var(--big-padding);
}

p {
  color: var(--secondary-color);
}

.circles {
  display: flex;
  justify-content: center;
  align-content: center;

  .circle {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: var(--small-margin);
  }

  .circle:first-child {
    margin-left: 0;
  }

  .circle:nth-child(2) {
    background-color: var(--primary-color);
  }
}

.section-header {
  text-align: center;

  span {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    margin-bottom: var(--medium-margin);
    position: relative;
  }

  span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translate(-50%, -50%);
    width: 50px;
    background-color: black;
    height: 2px;
  }

  span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 41px;
    transform: translate(-50%, -50%);
    width: 50px;
    background-color: black;
    height: 2px;
  }

  p {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--big-padding);
  }
}

button:hover {
  cursor: pointer;
}

.intro-section {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-content: space-between;

  background-color: black;
  background-image: url("../images/background.jpg");

  background-size: cover;

  /* header */
  header {
    width: 100%;
    /* container */
    .container {
      position: relative;
      padding-top: var(--medium-padding);
      padding-bottom: var(--medium-padding);

      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--main-header-color);

      /* logo */
      .main-logo img {
        width: 150px;
      }

      /* nav */
      .main-nav {
        display: flex;
        align-items: center;
        justify-content: center;

        .links {
          display: none;
        }

        .links a {
          margin-right: var(--small-margin);
          color: inherit;
          text-decoration: none;
          margin-left: var(--medium-margin);
        }

        .links a:first-child {
          border-bottom: 1px solid var(--primary-color);
        }

        .links a:hover {
          border-bottom: var(--primary-color);
          border-bottom: 1px solid var(--primary-color);
        }

        .links-list-item {
          color: var(--main-header-color);
          font-size: 30px;
          padding-right: var(--medium-padding);

          /* list item */
          ul {
            position: absolute;
            margin-top: 35px;
            right: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.25);

            display: none;

            /* li */
            li {
              padding: var(--small-padding);
              list-style-type: none;
              a {
                text-decoration: none;

                font-size: var(--font-size);
                color: var(--main-header-color);
              }
            }

            li:not(:last-child) {
              border-bottom: 1px solid var(--primary-color);
            }
          }
        }

        .links-list-item:hover ul {
          display: block;
        }

        .vertical-line {
          width: 2px;
          height: 40px;
          background-color: var(--main-header-color);
          margin-right: 20px;
          margin-left: 10px;
          align-self: flex-start;
        }

        .search-icon {
          font-size: 20px !important;
        }
      }
    }

    .container::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: calc(--medium-padding);
      width: calc(100% - var(--medium-padding) * 2 + 10px);
      height: 1px;
      background-color: var(--main-header-color);
      /* transform: translate(-50%, 50%); */
    }
  }

  /* content */
  .content {
    position: relative;
    width: 100%;
    /* background-color: gray; */
    display: flex;
    justify-content: center;

    /* text */
    .text {
      color: var(--main-header-color);
      width: 500px;

      background-color: #12607599;

      padding: 70px;

      padding-left: var(--big-padding);

      h2,
      p {
        padding: var(--small-padding);
      }
    }
  }

  .content::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    width: 8px;
    height: 8px;
    border-top: 7px solid var(--main-header-color); /* لون السهم */
    border-left: 7px solid var(--main-header-color); /* لون السهم */
    /* تدوير السهم */
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .content::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    top: 50%;
    right: 20px;
    border-top: 7px solid var(--main-header-color);
    border-right: 7px solid var(--main-header-color);

    transform: translate(-50%, -50%) rotate(45deg);
  }

  /* footer */
  footer {
    width: 100%;
    padding: var(--medium-padding);
    display: flex;
    justify-content: center;
    align-items: center;

    .circle {
      width: 30px;
      height: 30px;
      border: 1px solid var(--main-header-color);
      border-radius: 50%;
      margin-left: var(--small-margin);
    }

    .circle:first-child {
      margin-left: 0;
    }

    .circle:nth-child(2) {
      background-color: var(--primary-color);
    }
  }
}

.intro-section::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--opacity-color);
}

.Services {
  .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--small-margin);
    padding-bottom: var(--big-padding);
    .service {
      padding: var(--medium-padding);
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: var(--medium-padding);

      i {
        margin-right: var(--icon-margin);
        font-size: var(--icon-font-size);
      }

      .text {
        h3 {
          margin-bottom: var(--medium-margin);
          color: var(--primary-color);
        }

        p {
          color: var(--secondary-color);
        }
      }
    }
  }

  /* design skills */
  .design-skills {
    position: relative;
    background-image: url("../images/design-features.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    img {
      align-self: flex-end;
      margin-top: 200px;
      margin-left: 200px;
      display: none;
      transform: translateY(20%);
    }

    .text {
      width: 100%;
      padding: 70px;
      color: var(--main-header-color);
      background-color: #12607599;

      h2 {
        margin-bottom: var(--medium-margin);
      }

      ul {
        list-style-type: none;

        li {
          position: relative;
          padding: var(--small-padding);
        }

        li::before {
          content: "✓";
          position: absolute;
          top: 50%;
          left: -20px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .design-skills::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--opacity-color);
  }
}

.portfolio {
  .container {
    .sections {
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        padding: var(--small-padding);
      }

      span:first-child {
        color: var(--main-header-color);
        background-color: var(--primary-color);
      }

      margin-bottom: 50px;
    }
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 50px;

    .project {
      position: relative;
      overflow: hidden;
      img {
        transition-duration: 0.3s;
        width: 100%;
      }

      .text {
        transition-duration: 0.3s;
        opacity: 0;
        width: 100%;
        transform: translateY(100%);

        position: absolute;
        background-color: white;
        bottom: 0;
        left: 0;
        padding: var(--medium-padding);
        h3 {
          color: var(--secondary-color);
        }
        p {
          color: var(--primary-color);
        }
      }
    }

    .project:hover img {
      transform: rotate(2deg) scale(1.05);
    }

    .project:hover .text {
      opacity: 1;
      transform: translateY(0);
    }
  }

  footer {
    display: flex;
    justify-content: center;
    .more {
      text-transform: uppercase;
      color: var(--main-header-color);
      padding: var(--medium-padding);
      background-color: var(--primary-color);
      border: none;
    }

    .more:hover {
      cursor: pointer;
    }

    margin-bottom: var(--big-margin);
  }
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: var(--big-padding);

  video {
    width: 100%;
  }

  .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--main-header-color);
    background-color: #12607599;
    padding: var(--medium-padding);
    text-align: center;

    h2,
    p,
    .see-more {
      margin-bottom: var(--medium-margin);
    }

    h2 {
      text-transform: uppercase;
      margin-top: var(--medium-margin);
    }

    p {
      color: inherit;
    }

    .see-more {
      padding: var(--medium-padding);
      background-color: black;
      color: white;
      text-transform: uppercase;
      border: none;
    }
  }
}

.about {
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    width: 300px;

    img {
      width: 100%;
      transform: translateY(50px);
    }
  }

  .content {
    background-image: url("../images/stats.png");
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--big-padding);
    padding-bottom: var(--big-padding);
    position: relative;

    .container {
      z-index: 2;
      .achievements {
        background-color: #12607599;
        display: grid;
        grid-template-columns: 1fr;

        .achievement {
          padding: var(--big-padding);
          text-align: center;

          i,
          h3,
          p {
            margin-bottom: var(--small-margin);
            color: var(--main-header-color);
          }

          h3 {
            font-size: 40px;
          }

          i {
            background-color: black;
            padding: var(--small-padding);
            border: 1px solid black;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .content::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--opacity-color);
    z-index: 1;
  }
}

.testimonials-and-skills {
  .container {
    .testimonials {
      text-align: center;
      padding: var(--medium-padding);

      .section-header {
        margin-bottom: var(--medium-margin);
      }

      .description {
        color: var(--secondary-color);
        margin-bottom: var(--medium-margin);
      }

      .customer-reviews {
        text-align: start;

        .customer-review {
          padding: var(--medium-padding);

          display: flex;
          align-items: center;

          img {
            width: 60px;
            height: 60px;
            border: 1px solid black;
            border-radius: 50%;
            margin-right: var(--medium-margin);
          }

          .text {
            p {
              margin-bottom: var(--small-margin);
              color: black;
            }

            .customer-name {
              margin-bottom: var(--small-margin);
              text-align: end;
              color: var(--secondary-color);
            }
          }
        }
      }
    }

    .skills {
      padding: var(--medium-padding);
      .section-header {
        margin-bottom: var(--medium-margin);
        text-align: center;
      }

      .description {
        color: var(--secondary-color);
        margin-bottom: var(--medium-margin);
        text-align: center;
      }

      .skills-list {
        padding: var(--medium-padding);

        .skill {
          margin-bottom: var(--medium-margin);

          .name {
            margin-bottom: var(--small-margin);
            font-weight: bold;
          }

          .progress {
            width: 100%;
            height: 40px;
            background-color: #dedadc;

            /* start value */
            .value {
              position: relative;
              height: 100%;
              width: attr("data-value");
              background-color: var(--primary-color);
            }

            .value::before {
              position: absolute;
              content: attr(data-value);
              color: white;
              background-color: black;
              padding: 5px;
              border: 1px solid black;
              border-radius: 5px;
              top: -50px;
              right: 0;
              transform: translateX(50%);
            }

            .value::after {
              position: absolute;
              content: "";
              border: 10px solid;
              border-color: black transparent transparent transparent;
              top: -20px;
              right: 0;
              transform: translateX(50%);
            }

            /* end value */

            /* start values */
            .adobe-Progress {
              width: 90%;
            }
            .html-css-Progress {
              width: 85%;
            }
            .js-Progress {
              width: 80%;
            }
            .php-Progress {
              width: 90%;
            }
            /* end values */
          }
        }
      }
    }
  }
}

/* start quotes */
.quotes {
  background-image: url("/images/quote.jpg");
  position: relative;
  z-index: 1;
  margin-bottom: var(--big-margin);
  margin-top: var(--big-margin);
  /* start container */
  .container {
    color: white;
    text-align: center;
    font-size: var(--medium-font-size);
    z-index: 2;
  }
  /* end container */
}

.quotes::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--opacity-color);
  z-index: -1;
}
/* end quotes */

/* start pricing */
.pricing {
  /* start container */
  .container {
    /* start plans */
    .plans {
      /* grid */
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: var(--medium-margin);
      row-gap: var(--big-margin);
      margin-bottom: var(--big-margin);

      .plan {
        text-align: center;
        background-color: #fcfcfc;
        border-top: 1px solid var(--primary-color);

        header {
          padding: var(--medium-padding);
          font-size: var(--medium-font-size);
          font-weight: bold;
          border-bottom: 1px solid var(--primary-color);

          .name {
            margin-bottom: var(--small-margin);
            font-weight: normal;
          }
        }

        ul {
          list-style: none;

          li {
            display: flex;
            justify-content: center;
            align-content: center;
          }

          li > div {
            padding: var(--medium-padding);
            border-bottom: 1px solid var(--primary-color);
          }

          li:last-of-type > div {
            border-bottom: none;
          }
        }

        .buy-container {
          display: flex;
          align-items: center;
          justify-content: center;
          border-top: 1px solid var(--primary-color);

          .buy {
            display: block;
            border: none;
            margin-left: auto;
            margin-right: auto;
            background-color: var(--primary-color);
            color: var(--main-header-color);
            padding: var(--medium-padding);
            margin: var(--medium-margin) 0;
          }
        }
      }
    }
    /* end plans */
    /* start footer */
    footer {
      .description {
        text-align: center;
        margin-bottom: var(--medium-margin);
        color: black;
        font-weight: bold;
      }

      .contact {
        display: block;
        color: var(--main-header-color);
        padding: var(--medium-padding);
        border: none;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--primary-color);
      }
    }
    /* end footer */
  }
  /* end container */
}
/* end pricing */

/* start subscribe */
.subscribe {
  /* start container */
  position: relative;
  z-index: -1;
  margin-top: var(--big-margin);
  margin-bottom: var(--big-margin);
  background-image: url("/images/subscribe.jpg");
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    form {
      padding-top: var(--medium-padding);
      padding-bottom: var(--medium-padding);
      position: relative;
      width: 100%;
      display: flex;

      i {
        position: absolute;
        color: var(--main-header-color);
        top: 50%;
        margin-left: 20px;
        transform: translateY(-50%);
      }

      input[type="email"] {
        height: 50px;
        background-color: transparent;
        color: var(--main-header-color);
        border: 2px solid var(--main-header-color);
        width: calc(100% - 150px);
        border-right: none;
        padding-left: 50px;
      }

      input[type="submit"] {
        width: 150px;
        height: 50px;
        color: var(--main-header-color);
        background-color: var(--primary-color);
        border: 2px solid var(--main-header-color);
        border-left: none;
      }
    }

    .text {
      padding-top: var(--medium-padding);
      padding-bottom: var(--medium-padding);
      color: var(--main-header-color);
    }
  }
  /* end container */
}

.subscribe::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: var(--opacity-color);
  z-index: -1;
}
/* end subscribe */

/* start contact */
.contact {
  /* start container */
  .container {
    .text {
      padding-top: var(--medium-padding);
      padding-bottom: var(--medium-padding);
      h3:first-of-type {
        margin-bottom: var(--medium-margin);
      }

      h3:not(:first-of-type) {
        margin-top: var(--big-margin);
        margin-bottom: var(--small-margin);
      }

      .address {
        font-style: italic;
      }
    }

    form {
      padding-top: var(--medium-padding);
      padding-bottom: var(--medium-padding);

      textarea,
      input:not([type="submit"]) {
        display: block;
        width: 100%;
        margin-bottom: var(--medium-margin);
        padding: var(--medium-padding);
      }

      textarea {
        height: 150px;
      }

      .submit-container {
        display: flex;
        justify-content: flex-end;

        .submit {
          padding: var(--medium-padding);
          border: none;
          background-color: var(--primary-color);
          color: var(--main-header-color);
        }

        .submit:hover {
          cursor: pointer;
        }
      }
    }
  }

  /* end container */
}
/* end contact */

/* start main-footer */
.main-footer {
  background-image: url("/images/subscribe.jpg");
  padding-top: var(--big-padding);
  padding-bottom: var(--big-padding);
  position: relative;
  z-index: -1;

  .container {
    color: var(--main-header-color);
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: var(--medium-margin);
    }
    .text {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-bottom: var(--medium-margin);

      h3 {
        padding-bottom:  var(--medium-padding);
        border-bottom: 1px solid var(--main-header-color);
      }
    }

    .socail-icons {
      display: flex;
      justify-content: center;
      align-content: center;
      i {
        padding: var(--medium-padding);
      }
    }

    .copyright {
      margin-top: var(--big-margin);
      text-align: center;

      span {
        color: var(--primary-color);
      }
    }
  }
}

.main-footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
/* end main-footer */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 540px;
  }

  .intro-section {
    header {
      .container {
        .main-nav {
          .links {
            display: none;
          }

          .links-list-item {
            display: block;
          }
        }
      }
    }
  }

  .Services {
    .design-skills {
      .text {
        width: 100%;
      }
    }
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 740px;
  }

  .section-header {
    p {
      width: 400px;
    }
  }

  .portfolio {
    .projects {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .about {
    .image-container {
      width: 600px;

      img {
        width: 100%;
      }
    }

    .content {
      .container {
        .achievements {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }

  /* start subscribe */

  .subscribe {
    .container {
      flex-wrap: nowrap;

      form {
        margin-right: var(--medium-margin);
        input[type="email"] {
          width: 300px;
        }
      }
    }
  }
  /* end subscribe */

  /* start contact */
  .contact {
    .container {
      .contant {
        display: flex;
        justify-content: center;

        .text {
          order: 2;
        }

        form {
          order: 1;
          width: 50%;
          margin-right: var(--big-margin);
        }
      }
    }
  }
  /* end contact */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }

  .intro-section {
    height: 100vh;
    header {
      .container {
        .main-nav {
          .links {
            display: block;
          }
          .links-list-item {
            display: none;
          }
        }
      }
    }

    .content {
      justify-content: flex-start;

      .text {
        width: 600px;
      }
    }
  }

  .Services {
    .design-skills {
      img {
        display: block;
      }

      .text {
        width: 50%;
      }
    }
  }

  .about {
    .image-container {
      width: 600px;

      img {
        width: 100%;
      }
    }

    .content {
      .container {
        .achievements {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }

  /* start testimonials-and-skills */
  .testimonials-and-skills {
    .container {
      display: flex;
      justify-content: space-between;
    }
  }
  /* end testimonials-and-skills */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}
